body {
  background: -webkit-linear-gradient(left, #cb60b3 0%, #c146a1 17%, #a80077 100%, #db36a4 100%);
}

h4, h5 {
  font-family: "Bungee", cursive;
  color: #faffb9;
}

#main-content {
  margin-top: 80px;
}

#all-button:hover, #online-button:hover, #offline-button:hover {
  cursor: pointer;
}

/* #twitch-bot img {
  position: absolute;
  animation: floating 2s ease-in-out 0s infinite alternate;
}

@keyframes floating {
  0% {
    top: 200px;
  }
  100% {
    top: 230px;
  }
} */

/* Animate twitch bot, float up/down on y-axis */

#twitch-bot img {
  position: relative;
  -webkit-animation: mymove 4.5s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 4.5s infinite;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes mymove {
  0% {
    top: 0px;
  }
  25% {
    top: 50px;
  }
  75% {
    top: 50px
  }
  100% {
    top: 0px;
  }
}

/* Standard syntax */

@keyframes mymove {
  0% {
    top: 0px;
  }
  25% {
    top: 50px;
  }
  75% {
    top: 50px
  }
  100% {
    top: 0px;
  }
}

/* end animation */

@media (min-width: 602px) {
  #twitch-bot {
    text-align: left;
  }
}