/* === HTML TAGS === */

body {
  background: #6C44A4;
}

h4, h5 {
  font-family: "Bungee", cursive;
  color: #faffb9;
}

/* === CLASSES === */

/* Materialize class */

.collection-item {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

/* === IDs === */

#main-content {
  margin-top: 60px;
}

#twitch-bot {
  margin-bottom: 80px;
}

/* === MEDIA QUERIES === */

@media (min-width: 550px) {
  #twitch-bot img[width] {
    width: 240px;
  }
  #twitch-bot img[height] {
    height: 240px;
  }
}

@media (min-width:601px) {
  #twitch-bot {
    position: fixed;
  }
}

@media (min-width: 620px) {
  /* Have bot scroll with user in a 2-col layout */
  #twitch-bot {
    text-align: left;
  }
}

@media (min-width: 730px) {
  #twitch-bot img[width] {
    width: 270px;
  }
  #twitch-bot img[height] {
    height: 270px;
  }
}

@media (min-width: 1200px) {
  #twitch-bot img[width] {
    width: 320px;
  }
  #twitch-bot img[height] {
    height: 320px;
  }
}

/* === PSEUDOCLASSES AND PSEUDOELEMENTS === */

a:hover {
  cursor: pointer;
  text-decoration: underline;
}