/* === HTML TAGS === */

body {
  background: -webkit-linear-gradient(left, #cb60b3 0%, #c146a1 17%, #a80077 100%, #db36a4 100%);
}

h4, h5 {
  font-family: "Bungee", cursive;
  color: #faffb9;
}

/* === IDs === */

#main-content {
  margin-top: 60px;
}

#twitch-bot {
  margin-bottom: 80px;
}

/* === MEDIA QUERIES === */

@media (min-width: 600px) {
  #twitch-bot img[width] {
    width: 190px;
  }
  #twitch-bot img[height] {
    height: 190px;
  }
}

@media (min-width: 620px) {
  #twitch-bot {
    text-align: left;
  }
}

@media (min-width: 730px) {
  #twitch-bot img[width] {
    width: 230px;
  }
  #twitch-bot img[height] {
    height: 230px;
  }
}

@media (min-width: 994px) {
  #twitch-bot img[width] {
    width: 220px;
  }
  #twitch-bot img[height] {
    height: 220px;
  }
}

@media (min-width: 1200px) {
  #twitch-bot img[width] {
    width: 240px;
  }
  #twitch-bot img[height] {
    height: 240px;
  }
}

@media (min-width: 1350px) {
  #twitch-bot img[width] {
    width: 280px;
  }
  #twitch-bot img[height] {
    height: 280px;
  }
}

/* === PSEUDOCLASSES AND PSEUDOELEMENTS === */

#all-button:hover, #online-button:hover, #offline-button:hover {
  cursor: pointer;
}

/* === EXTRA ===  */

/* Animate twitch bot, float up/down on y-axis */

#twitch-bot img {
  position: relative;
  -webkit-animation: mymove 4.5s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 4.5s infinite;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes mymove {
  0% {
    top: 0px;
  }
  25% {
    top: 30px;
  }
  75% {
    top: 30px
  }
  100% {
    top: 0px;
  }
}

/* Standard syntax */

@keyframes mymove {
  0% {
    top: 0px;
  }
  25% {
    top: 30px;
  }
  75% {
    top: 30px
  }
  100% {
    top: 0px;
  }
}

/* end animation */